@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/static/Montserrat-Bold.ttf);
    font-weight: bold;
    font-size: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/static/Montserrat-Regular.ttf);
    font-weight: normal;
    font-size: normal;
}

body{
    background-color: #C1C5C8;
    font-family: 'Montserrat';
    font-weight: normal;
}

@media (min-width: 768px) and (max-width: 1024px) {

/* Header Styles */

    .header-assessment{
        width: 100%;
        height: 93px;
        background-color: #270089;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-header{
        height: 93px;
        width: auto;
    }

/* Nav Styles */

    .nav-assessment{
        width: 100%;
        height: 629px;
    }

    .title{
        text-align: center;
        color: #270089;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 40px;
        padding-top: 40px ;
    }

    .container-assessment{
        width: 100%;
        height: 549px;
    }
    
    .menu-assessment{
        width: 100%;
        height: 549px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .btn-assessment{
        border: none;
        border-radius: 50%;
        background-color: #C1C5C8;
    }

    .face-assessment{
        height: 135px;
    }

/* Footer Styles */

    .footer-assessment{
        font-size: 12px;
        width: auto;
        height: 45px;
        margin: 0px 35px;
        border-top: 1px solid #270089;
        text-align: center;
        padding: 0;
    }

    .copy-rigth{
        padding-top: 18px;
    }
    
  }